html, body {
    overflow: hidden;
    background-color: : #000;
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
}

#container {
  min-height: 100%;
  min-width: 320px;
  background: url('./images/kamzei.jpg') no-repeat;
  background-position: -100% 10%;
  background-color: #000;
}

#wrapper {
    position: absolute;
    left: 0;
    width: 320px;
    text-align: center;
    top: 55%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1, h2 {
    position: relative;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 12px 0;
    left: 4px;
}

h2 {
    color: #999999;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .12em;
    margin-bottom: 30px;
    left: 3px;
}

p {
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
}

.slash, a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #EA65B9;
    /* blue - #42D7F4 */
}

.controls {
  position: absolute;
  bottom: -15px;
  left: 48%;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 12px;
  border-color: transparent transparent transparent #EA65B9;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 5.5px 0px 5.5px 12px;
}

.controls.paused {
  border-style: double;
  border-width: 0 0 0 12px;
}

.controls:focus {
  outline-width: 0;
}
